{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <!-- Display any error message -->
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}

        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm password" type="password" required>
        </div class="mb-3">
          <button class="btn btn-primary w-auto d-block mx-auto" type="submit">Register</button>
    </form>
{% endblock %}

