{% extends "layout.html" %}
{% block title %}
    Select deck
{% endblock %}

{% block main %}
<div class="container pt-5">
    <!-- Your Decks Heading -->
    <h2 class="your-decks-heading">Select Deck:</h2>

    <div class="row" style="margin-top: -60px;">
        <!-- Left Column: Deck List -->
        <div class="col-md-8">
            <div class="decks-list-container">
                <div class="list-group">
                    {% for deck in decks %}
                        <div class="deck-container">
                            <a href="/study/{{ deck.id }}" class="deck-item">
                                {{ deck.name }}
                            </a>
                        </div>
                    {% else %}
                        <p class="text-center">You don't have any decks yet.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
     </div>
     <div style="display: flex; justify-content: flex-end; margin-top:-70px;">
        <a href="/cue-cards" type="submit" class="btn btn-primary mt-2">Edit decks</a>
     </div>
</div>
{% endblock %}
